<!DOCTYPE html>
<html>
<title>BC</title>
<body>
    <Table>
        <tr>
            <form id='TeamName1'>
                Enter Name of Team 1: <input type='text' name='Name1'><br>
            </form>
        </tr>
        <tr>
            <form id='TeamName2'>
                Enter Name of Team 2: <input type='text' name='Name2'>
            </form>
        </tr>
        <tr>
            <td>
                <form id='PlayerInput1' action='/' method="POST">
                        <input type='text' name='T1Player1' required><br>
                        <input type='text' name='T1Player2' required><br>
                        <input type='text' name='T1Player3'><br>
                        <input type='text' name='T1Player4'><br>
                        <input type='text' name='T1Player5'><br>
                        <input type='text' name='T1Player6'><br>
                        <input type='text' name='T1Player7'><br>
                        <input type='text' name='T1Player8'><br>
                        <input type='text' name='T1Player9'><br>
                        <input type='text' name='T1Player10'><br>
                        <input type='text' name='T1Player11'><br>
                </form>
            </td>
            <td>
                <form id='PlayerInput2' action='/' method="POST">
                        <input type='text' name='T2Player1' required><br>
                        <input type='text' name='T2Player2' required><br>
                        <input type='text' name='T2Player3'><br>
                        <input type='text' name='T2Player4'><br>
                        <input type='text' name='T2Player5'><br>
                        <input type='text' name='T2Player6'><br>
                        <input type='text' name='T2Player7'><br>
                        <input type='text' name='T2Player8'><br>
                        <input type='text' name='T2Player9'><br>
                        <input type='text' name='T2Player10'><br>
                        <input type='text' name='T2Player11'><br>
                </form>
            </td>    
        </tr>
    </Table>


<button id="btn" onclick="PlayerI()">Sub</button>

<p id="TextPrint"></p>
<p id="TextPrint2"></p>
<script>
    function PlayerI(){
        var text = "";
        var N1 = document.getElementById('TeamName1');
        var Name1 = N1.elements[0].value;
        var Team1Players = [Name1];
        var TeamPlayers1 = document.getElementById('PlayerInput1');
        var N2 = document.getElementById('TeamName2');
        var Name2 = N2.elements[0].value;
        var Team2Players = [Name2];
        var TeamPlayers2 = document.getElementById('PlayerInput2');
        for(var x = 0; x < TeamPlayers1.length; x++){
            if(TeamPlayers1.elements[x].value.trim != ''){
                text = TeamPlayers1.elements[x].value;
                Team1Players.push(text);
            }
        }
        Player1Length = Player1Length + 1;
        window.alert(Team1Players.length);
        window.alert(Team2Players.length);
        if(Team1Players.length == Team2Players.length){
            for(var x = 0; x < TeamPlayers1.length; x++){
                if(TeamPlayers1.elements[x].value != ''){
                    text = TeamPlayers1.elements[x].value;
                    Team1Players.push(text);
                } 
            }
            document.getElementById('TextPrint').innerHTML=Team1Players
        
            for(var x = 0; x < TeamPlayers2.length; x++){
                if((TeamPlayers1.elements[x].value.trim() != '' && TeamPlayers2.elements[x].value.trim() != '')){
                    text = TeamPlayers2.elements[x].value;
                    Team2Players.push(text);
                } 
            }
            document.getElementById('TextPrint2').innerHTML=Team2Players
        }else{
            window.alert("Enter Equal Number of Players");
        }
    }
</script>

</body>
</html>